{:title "**** Photos Development API ****"
 :dev true
 :port 31000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 57251
 :database-url "mongodb+srv://soulflyer:<password>@soulflyer.qri2f.mongodb.net/photos?retryWrites=true&w=majority"}
